.playerArea{
    height: 250px;
    width: 90%;
    margin: auto;
    background-color: green;
    color: white;
    font-size: large;
    padding: 10px;
}
.main{
    margin-top: 10px;

}
#compCounter{
    background-color: blue;
    color: white;
}
.pointCounter{
height: 100px;
max-width: 100px;
/* margin: 10px 10px; */
line-height: 100px;
font-size: 50px;
background-color: white;
color: black;
text-align: center;
}

.counters{
    width: 95%;
    height: 60px;
    line-height: 60px;
    justify-content: space-evenly;
    border: 2px solid black;
    background-color: grey;
    margin: auto;
    font-size: 25px;
    color: blue;
}
.buttonsContainer{
    width: 90%;
    background-color: grey;
    justify-content: space-evenly;
    /* height: 60px; */
    /* padding: 2px; */
    border: 2px solid black;
    margin: 20px auto;
}
.buttons{
    height: 30px;
    color: blue;
    width: auto;
    margin: auto;
    border-radius: 5px;
}

.cards{
    background-image: url(https://media.gettyimages.com/photos/back-side-of-playing-card-picture-id459234653?s=612x612);
    height: 200px;
    width: 100px;
}
body{
    background-color: darkgreen;
}
#message{
    text-align: justify;
    font-size: 40px;
    
}
.newCard{
    height: 80%;
    width: 125px;
    border-radius: 5%;
    border: 1px solid white;
    background-color: antiquewhite;
    color: black;
    font-size: 35px;
    text-align: center;
    justify-content: center;
    margin-left: 5px;
}

#info{
    height: 220px;
}
.red{
    color: red
}
.cardBack{
    background-color: blue;
    color: blue
}
.deck{
    height: 100%;
}
.deckCards{
    height: 80%;
    width: 125px;
    border-radius: 5%;
    position: absolute;
    top: 30px;
    left: 5px;
    border: 1px solid white;
}

.landingPage{
    color: white;
    text-align: center;
    justify-content: center;
}